<!-- Top Bar -->
<section id="" class="p-3 text-white" style="background-color:darkblue;">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i>+254795214400</div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> https://github.com/JosephWamiti8711
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="https://twitter.com/jowamu8711"> <i class="fab fa-twitter text-white"></i> </a>
          <a href="https://www.facebook.com/Wamiti23 "> <i class="fab fa-facebook text-white"></i> </a>
          <a href="https://www.linkedin.com/in/joseph-wamiti-778247177/"> <i class="fab fa-linkedin text-white"></i> </a>
          <a href="https://www.instagram.com/_wamiti_/"> <i class="fab fa-instagram text-white"></i> </a>
          <a href="https://medium.com/@josephmugo8711"> <i class="fab fa-medium text-white"></i> </a>
        </div>
      </div>
    </div>
  </div>
</section>
